<% include partials/header%>


<h1> This is the show template</h1>

<h1><%= campground.name %></h1>
<img src="<%= campground.image %>">
<h3><%=campground.description%></h3>

<% campground.comments.forEach(function(comment){ %>
  <h4><strong><%= comment.author %></strong> - <%= comment.text %></h4>

<% }) %>
<% include partials/footer%>
